
body
{
    background-color: rgb(241, 142, 158);
}
.container h1{
    width: 80%;
    text-align: center;
}

.kitty{
    float: left;
    width: 200px;   
}

.bottomKitty
{
   width: 200px; 
   float: left;
}