/* h1
{
    color: darkred;
}


p{
    border: 5px black;
} */

/* This is the universal selector */

/* *{
   font-style: italic;
} */


/* This is the class selector */
.redBorder{
    background-color: cyan;
    border:  5px solid rgb(255, 0, 0);
}


/* This is the id selector */
#lorem-text1
{
    font-weight: bold;
}

/* This is the use of grouping selector */
.redBorder,#lorem-text1{
    font-style: italic;
}

/* This is the nested selector 
header h1{
    background-color: #0bdb0b;
} */


