*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: black;
    position: fixed;
    width: 100%;
}

ul
{
   list-style: none;
    text-align: end;
    margin: 30px;

}

li{
    color: white;
    display: inline;
    font-size: 1.6rem;
    padding-inline: 20px;
}

.heroleft
{
  width: 60%;
  margin-top: 20vh;
  margin-left: 10vw;
}

.heading
{
    font-size: 3rem;
    width:30% ;
}

.subheading
{
    margin-top: 20px;
}

.cta-explore-more
{
  margin-top: 20px;
  padding: 20px 60px;
}

.hero-right
{
    width: 30vw;
}

.hero-image
{
    width: 100%;
    float: right;
    margin-top: 20vh;
}
